**/build
**/bin
*.dblite
**/*.pyc
**/*.sublime-project
**/*.sublime-workspace
cursedearth_local.cfg
**/Makefile*
engine/CE.ini
engine/CE.zpi
engine/CE.zwi
engine/engine.ALEKS-IDEA.Aleks.pui
engine/engine.prj
**/lib/
engine/tags
tools/resfileviewer/ui_mainwindow.h
.gitattributes
cursedearth.creator.user