[CE]
# enable debug
RELEASE = no

# for mp32oga target
MP3_PATH = /path/to/evilislands/Stream
OGA_PATH = /path/to/cursedearth/Stream

# mp32oga optional
MP3_CODEC = madplay
OGA_QUALITY = 4

# for bik2ogv target
BIK_PATH = /path/to/evilislands/Movies
OGV_PATH = /path/to/cursedearth/Movies

# bik2ogv optional
OGV_VIDEO_BITRATE = 5000
OGV_AUDIO_BITRATE = 128

[i386-win32-mingw]
# argtable and GLEW
ADDITIONAL_INCLUDE_PATHS = c:\argtable\include;c:\glew\include
ADDITIONAL_LIBRARY_PATHS = c:\argtable\lib;c:\glew\lib

# or all in one
ADDITIONAL_INCLUDE_PATHS = c:\include
ADDITIONAL_LIBRARY_PATHS = c:\lib
