[CE]
RELEASE = no

ADDITIONAL_LIBS = glut;GLEW;GLU;GL
ADDITIONAL_LIBS = freeglut_static;glu32;opengl32;winmm;gdi32

# GLEW
ADDITIONAL_DEFINES = GLEW_STATIC

# GLUT
ADDITIONAL_DEFINES = FREEGLUT_STATIC
