# This file is part of Open Evil Islands.
#
# Open Evil Islands is an open source, cross-platform port of the original Evil Islands from Nival.
# Copyright (C) 2009-2017 Yanis Kurganov <yanis.kurganov@gmail.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

[SCONSX]
VERSION_MAJOR = 3
VERSION_MINOR = 0
MODULES = opengl
LIBS = engine;boost_program_options;boost_filesystem;boost_system;squish;argtable2;avcodec;avutil;theoradec;FLAC;vorbisfile;vorbis;ogg;mad;freetype;png;GLEW

[QT]
MODULES = core;gui;widgets
FEATURES = no_keywords

[SIGNTOOL]
DESCRIPTION = Open Evil Islands
TIMESTAMP_SERVER = http://time.certum.pl/

[linux-gnu-x86]
INCLUDE_PATHS = /usr/include/freetype2
LIBS = GLU;GL;Xxf86vm;Xrandr;Xrender;X11;asound;bz2;z;m

[linux-gnu-x64]
INCLUDE_PATHS = /usr/include/freetype2
LIBS = GLU;GL;Xxf86vm;Xrandr;Xrender;X11;asound;bz2;z;m

[linux-mingw-x86]
LIBS = glu32;opengl32;gdi32;winmm;wsock32;z

[linux-mingw-x64]
LIBS = glu32;opengl32;gdi32;winmm;wsock32;z

[windows-mingw-x86]
LIBS = glu32;opengl32;gdi32;winmm;wsock32;z

[windows-mingw-x64]
LIBS = glu32;opengl32;gdi32;winmm;wsock32;z
