# This file is part of Open Evil Islands.
#
# Open Evil Islands is an open source, cross-platform port of the original Evil Islands from Nival.
# Copyright (C) 2009-2016 Yanis Kurganov <yanis.kurganov@gmail.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

[ESCONS]
RELEASE = no
LOGGING_LEVEL = debug
HOST = windows-mingw-x64

[QT]
PATH = /home/user/.qt5.5.1/5.5/gcc_64
PATH = c:\Bin\Qt\Qt5.4.1\5.4\mingw491_32

[SIGNTOOL]
CERTIFICATE = certificate.pfx
PASSWORD = qwerty

[windows-mingw-x86]
BINARY_PATHS = c:\Bin\MSYS2\mingw32\bin;c:\Program Files (x86)\Windows Kits\8.1\bin\x86
INCLUDE_PATHS = c:\Bin\MSYS2\usr\local\include;c:\Bin\MSYS2\usr\local\include\freetype2
LIBRARY_PATHS = c:\Bin\MSYS2\usr\local\lib32;c:\Bin\MSYS2\usr\local\lib32\boost

[windows-mingw-x64]
BINARY_PATHS = c:\Bin\MSYS2\mingw64\bin;c:\Program Files (x86)\Windows Kits\8.1\bin\x64
INCLUDE_PATHS = c:\Bin\MSYS2\usr\local\include;c:\Bin\MSYS2\usr\local\include\freetype2
LIBRARY_PATHS = c:\Bin\MSYS2\usr\local\lib64;c:\Bin\MSYS2\usr\local\lib64\boost
